/* 
* Você pode editar estilos do primeng neste arquivo
*/

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--surface-ground);
  font-family: var(--font-family);
  color: var(--text-color);
  overflow-x: hidden;
  overflow-y: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
}

.page-full {
  min-height: calc(100vh - 71px);
}

.p-toast {
  z-index: 1105;

  .p-toast-message {
    .p-toast-icon-close {
      padding: 1rem;
    }
  }
}

.fc-button:focus,
.p-multiselect-close,
a:focus,
.p-scrollpanel .p-scrollpanel-bar:focus,
.p-message .p-message-close:focus,
.p-sortable-column:focus,
.p-paginator-first,
.p-paginator-prev,
.p-paginator-page,
.p-paginator-next,
.p-paginator-last,
.p-menu .p-menuitem-link:focus,
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus,
.p-chips .p-chips-multiple-container:not(.p-disabled).p-focus,
.p-datepicker table td > span:focus,
.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):focus,
.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus,
.p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus,
.p-panel .p-panel-header .p-panel-header-icon:focus,
.p-splitbutton:is(
    .p-button-secondary,
    .p-button-success,
    .p-button-info,
    .p-button-warning,
    .p-button-help,
    .p-button-danger
  )
  > .p-button:enabled:focus,
.p-tabview .p-tabview-nav-btn.p-link:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-toggler:focus,
.p-breadcrumb ol li .p-menuitem-link:focus,
.p-paginator-page.p-highlight:focus,
.p-button:focus,
.p-carousel-indicator .p-link:focus,
.p-inputswitch.p-focus .p-inputswitch-slider,
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus,
.p-inputtext:is(:hover, :enabled:focus),
.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus,
:is(.p-button, .p-splitbutton):is(
    .p-button-secondary,
    .p-button-success,
    .p-button-info,
    .p-button-warning,
    .p-button-help,
    .p-button-danger,
    .p-button-link
  ):enabled:focus,
.p-dropdown:not(.p-disabled).p-focus,
.p-multiselect:not(.p-disabled).p-focus,
.p-toast .p-toast-message .p-toast-icon-close:focus,
.p-carousel .p-carousel-content :is(.p-carousel-prev, .p-carousel-next):focus,
.p-sidebar .p-sidebar-header :is(.p-sidebar-close, .p-sidebar-icon):enabled:focus,
.p-panelmenu .p-panelmenu-header:not(.p-disabled):focus .p-panelmenu-header-content,
.p-panelmenu .p-panelmenu-header.p-highlight:focus,
.p-dialog .p-dialog-header .p-dialog-header-icon:focus,
.p-datatable
  .p-datatable-tbody
  > tr:is(.p-datatable-dragpoint-top, .p-datatable-dragpoint-bottom)
  > td {
  box-shadow: none !important;
}

.p-ripple-primary {
  .p-ink {
    background: rgb(0, 123, 255, 0.3);
  }
}

.p-ripple-secondary {
  .p-ink {
    background: rgb(108, 117, 125, 0.3);
  }
}

.p-ripple-success {
  .p-ink {
    background: rgb(40, 167, 69, 0.3);
  }
}

.p-ripple-info {
  .p-ink {
    background: rgb(23, 162, 184, 0.3);
  }
}

.p-ripple-warning {
  .p-ink {
    background: rgb(255, 193, 6, 0.3);
  }
}

.p-ripple-help {
  .p-ink {
    background: rgb(111, 66, 193, 0.3);
  }
}

.p-ripple-danger {
  .p-ink {
    background: rgb(220, 53, 69, 0.3);
  }
}

.dark {
  .p-ripple-primary {
    .p-ink {
      background: rgb(141, 208, 255, 0.3);
    }
  }

  .p-ripple-secondary {
    .p-ink {
      background: rgb(108, 117, 125, 0.3);
    }
  }

  .p-ripple-success {
    .p-ink {
      background: rgb(159, 218, 168, 0.3);
    }
  }

  .p-ripple-info {
    .p-ink {
      background: rgb(127, 216, 230, 0.3);
    }
  }

  .p-ripple-warning {
    .p-ink {
      background: rgb(255, 224, 130, 0.3);
    }
  }

  .p-ripple-help {
    .p-ink {
      background: rgb(183, 162, 224, 0.3);
    }
  }

  .p-ripple-danger {
    .p-ink {
      background: rgb(241, 158, 166, 0.3);
    }
  }

  .p-checkbox-box {
    &.p-focus {
      &:not(.p-highlight) {
        border: 1px solid #3f4b5b !important;
      }
    }
  }
}

.p-divider-solid {
  &.p-divider-horizontal {
    &:before {
      border-top-style: solid !important;
    }
  }

  &.p-divider-vertical {
    &:before {
      border-left-style: solid !important;
    }
  }
}

.p-divider {
  &.p-divider-horizontal {
    &:before {
      border-top: 1px var(--surface-border);
    }
  }

  &.p-divider-vertical {
    &:before {
      border-left: 1px var(--surface-border);
    }
  }
}

.p-dropdown-panel .p-dropdown-header,
.p-multiselect-panel .p-multiselect-header {
  padding: 0.75rem !important;
}

.p-inputtext[type='time']:not(.p-inputtext-sm, .p-inputtext-lg),
.p-inputtext[type='date']:not(.p-inputtext-sm, .p-inputtext-lg),
.p-inputtext[type='month']:not(.p-inputtext-sm, .p-inputtext-lg),
.p-inputtext[type='datetime-local']:not(.p-inputtext-sm, .p-inputtext-lg) {
  height: 36px;
}

.p-inputtext[type='time'].placeholder,
.p-inputtext[type='date'].placeholder,
.p-inputtext[type='month'].placeholder,
.p-inputtext[type='datetime-local'].placeholder {
  color: var(--surface-600);
}

.no-expander {
  .p-row-toggler {
    opacity: 0;
    pointer-events: none;
  }
}

.p-datatable {
  .p-button-icon-min {
    button {
      width: 21px !important;
      height: 21px !important;
    }
  }

  .action {
    padding: 6px 16px !important;
    text-align: center !important;

    div {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
  }
}

.p-datatable .action :is(a, button):not(a button) {
  margin: 0.2rem;
}

.p-datatable .action :is(a, button):not(a button):last-child {
  margin-right: 0;
  margin-right: 0.2rem;
}

.p-datatable-reorderablerow-handle {
  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }
}

.p-datatable-resizable-fit {
  .p-datatable-reorderablerow-handle {
    margin-right: 4px;
    margin-left: 3px;
  }
}

.p-datatable-no-header {
  thead {
    th {
      padding: 0 !important;
      border-bottom: 1px !important;
    }
  }
}

.p-datatable-resizable .p-datatable-thead > tr > th,
.p-datatable-resizable .p-datatable-tfoot > tr > td,
.p-datatable-resizable .p-datatable-tbody > tr > td {
  white-space: normal;
}

.p-dialog-footer {
  button {
    &:last-child {
      margin-right: 0 !important;
    }
  }
}

.p-message {
  .p-message-close {
    margin-left: 1rem;
  }

  .p-message-text {
    width: 100%;
    font-weight: normal !important;
  }
}

input.only-focus[type='time'],
input.only-focus[type='date'],
input.only-focus[type='month'],
input.only-focus[type='datetime-local'] {
  position: relative;
}

.p-inputtext[type='time']::-webkit-calendar-picker-indicator {
  padding-right: 1px;
}

input.only-focus[type='time']::-webkit-calendar-picker-indicator,
input.only-focus[type='date']::-webkit-calendar-picker-indicator,
input.only-focus[type='month']::-webkit-calendar-picker-indicator,
input.only-focus[type='datetime-local']::-webkit-calendar-picker-indicator {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-right: 14px;
  background-position: right;
  background-size: auto;
  cursor: pointer;
}

.p-menuitem-content:not(:hover),
.p-dropdown-item:not(:hover, .p-highlight) {
  background: transparent !important;
}

.p-fieldset {
  padding: 12px;

  legend {
    a {
      padding: 0.5rem 1rem !important;
    }
  }
}

.p-tooltip {
  max-width: 18.75rem;
}

.p-multiselect-close {
  display: none;
}
.p-multiselect-panel {
  .p-multiselect-header {
    .p-checkbox {
      margin-left: -4px;
    }
  }
}

.p-checkbox-box {
  &.p-focus {
    &:not(.p-highlight) {
      border: 2px solid #ced4da !important;
    }
  }
}

:is(.p-dropdown-items, .p-multiselect-items) .p-highlight.p-focus {
  background: var(--primary-color) !important;
}

:is(.p-dropdown-items, .p-multiselect-items)
  .p-multiselect-item:not(.p-highlight, .p-disabled).p-focus:not(:hover) {
  background: transparent !important;
}

@media screen and (min-width: 767px) {
  .p-datatable .action {
    padding: 0 !important;

    :is(a, button):not(a button):last-child {
      margin-right: 0.2rem;
    }
  }
}
