:host ::ng-deep .p-sidebar-header {
  display: flex;
  justify-content: space-between;
}

:host ::ng-deep .p-sidebar-header,
:host ::ng-deep .absolute {
  padding: 10.5px 16px !important;
}

:host ::ng-deep .p-sidebar-content {
  height: 100%;
  padding: 0 !important;
}

:host ::ng-deep .p-panelmenu {
  margin-bottom: 54px;
}

:host ::ng-deep .p-panelmenu-header-content {
  background: transparent !important;
  border: none !important;
}

:host ::ng-deep .p-panelmenu-header a {
  font-weight: normal !important;
}

:host ::ng-deep .p-panelmenu-header a[href] {
  padding-left: 15px !important;
}

:host ::ng-deep .p-panelmenu-header a[href].router-link-active {
  padding-left: 10px !important;
}

:host ::ng-deep .p-panelmenu-header a :is(.pi-chevron-down, .pi-chevron-right) {
  margin-right: 11px !important;
  margin-left: -3px;
}

:host ::ng-deep .p-menuitem a.router-link-active {
  padding-left: 37px !important;
}

:host ::ng-deep :is(.p-panelmenu-header, .p-menuitem):hover a {
  background: var(--surface-hover) !important;
}

:host ::ng-deep :is(.p-panelmenu-header, .p-menuitem) a :is(.p-menuitem-icon, .p-menuitem-text) {
  color: var(--text-color) !important;
}

:host ::ng-deep :is(.p-panelmenu-header, .p-menuitem) a.router-link-active {
  border-left: 5px solid var(--primary-color) !important;
}

:host ::ng-deep .p-panelmenu-content {
  border: none !important;
  padding: 0 !important;
}

:host ::ng-deep .p-panelmenu-content .p-menuitem-link {
  padding: 16px 0 16px 42px !important;
}

:host ::ng-deep .p-ink.p-ink-active {
  background: none;
}

:host ::ng-deep .p-sidebar-footer {
  height: 53px;
  padding: 16px;
  box-shadow: 0 0 1px 0 rgb(0 0 0 / 75%);
}

:host ::ng-deep .p-sidebar-footer div {
  margin-top: -6px;
}

:host ::ng-deep .p-sidebar-footer div div {
  margin-top: 0;
}
